<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quentin.example.domain.mapper.UserVOMapper">
    <resultMap id="BaseResultMap" type="com.quentin.example.domain.UserVO">
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="BIGINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="user_id_create" property="userIdCreate" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="sex" property="sex" jdbcType="BIGINT"/>
        <result column="birth" property="birth" jdbcType="TIMESTAMP"/>
        <result column="pic_id" property="picId" jdbcType="BIGINT"/>
        <result column="live_address" property="liveAddress" jdbcType="VARCHAR"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <collection property="roleLists"  ofType="com.quentin.example.domain.RoleVO">
            <result property="roleId" column="roleId"/>
            <result property="roleName" column="roleName"/>
        </collection>
        <collection property="menus"  ofType="com.quentin.example.domain.MenuVO">
            <result property="menuId" column="menuId"/>
            <result property="name" column="menuName"/>
            <result property="url" column="menuUrl"/>
            <result property="icon" column="menuIcon"/>
            <result property="perms" column="menuPerms"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        user_id, username, name, password, dept_id, email, mobile, status, user_id_create,
        gmt_create, gmt_modified, sex, birth, pic_id, live_address, hobby, province, city,
        district
    </sql>
    <insert id="insertSelective" parameterType="com.quentin.example.domain.UserVO">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userIdCreate != null">
                user_id_create,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="picId != null">
                pic_id,
            </if>
            <if test="liveAddress != null">
                live_address,
            </if>
            <if test="hobby != null">
                hobby,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="district != null">
                district,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="userIdCreate != null">
                #{userIdCreate,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=BIGINT},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=TIMESTAMP},
            </if>
            <if test="picId != null">
                #{picId,jdbcType=BIGINT},
            </if>
            <if test="liveAddress != null">
                #{liveAddress,jdbcType=VARCHAR},
            </if>
            <if test="hobby != null">
                #{hobby,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                #{district,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.quentin.example.domain.UserVO">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="userIdCreate != null">
                user_id_create = #{userIdCreate,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIGINT},
            </if>
            <if test="birth != null">
                birth = #{birth,jdbcType=TIMESTAMP},
            </if>
            <if test="picId != null">
                pic_id = #{picId,jdbcType=BIGINT},
            </if>
            <if test="liveAddress != null">
                live_address = #{liveAddress,jdbcType=VARCHAR},
            </if>
            <if test="hobby != null">
                hobby = #{hobby,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>


    <sql id="dynamicWhere">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="deptId != null and deptId != ''">and dept_id = #{deptId}</if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="userIdCreate != null and userIdCreate != ''">and user_id_create = #{userIdCreate}</if>
            <if test="gmtCreate != null and gmtCreate != ''">and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null and gmtModified != ''">and gmt_modified = #{gmtModified}</if>
            <if test="sex != null and sex != ''">and sex = #{sex}</if>
            <if test="birth != null and birth != ''">and birth = #{birth}</if>
            <if test="picId != null and picId != ''">and pic_id = #{picId}</if>
            <if test="liveAddress != null and liveAddress != ''">and live_address = #{liveAddress}</if>
            <if test="hobby != null and hobby != ''">and hobby = #{hobby}</if>
            <if test="province != null and province != ''">and province = #{province}</if>
            <if test="city != null and city != ''">and city = #{city}</if>
            <if test="district != null and district != ''">and district = #{district}</if>
        </trim>
    </sql>

    <select id="queryByUserName" resultMap="BaseResultMap">
        SELECT
          user.user_id,
          user.username,
          user.name,
          user.password,
          user.dept_id,
          user.email,
          user.mobile,
          user.status,
          user.user_id_create,
          user.gmt_create,
          user.gmt_modified,
          user.sex,
          user.birth,
          user.pic_id,
          user.live_address,
          user.hobby,
          user.province,
          user.city,
          user.district,
          role.role_id   AS roleId,
          role.role_name AS roleName,
          menu.menu_id   AS menuId,
          menu.name      AS menuName,
          menu.url       AS menuUrl,
          menu.icon      AS menuIcon,
          menu.perms     AS menuPerms
        FROM sys_user user
          LEFT JOIN sys_user_role sur ON sur.user_id = user.user_id
          LEFT JOIN sys_role role ON role.role_id = sur.role_id
          LEFT JOIN sys_role_menu srm ON srm.role_id = role.role_id
          LEFT JOIN sys_menu menu ON menu.menu_id = srm.menu_id
        WHERE username = #{userName}
    </select>

</mapper>