<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>运单号</th>
        <th>回单号</th>
        <th>寄件日期</th>
        <th>实际重量</th>
        <th>结算重量</th>
        <th>体积</th>
        <th>长</th>
        <th>宽</th>
        <th>高</th>
        <th>总件数</th>
        <th>运费</th>
        <th>是否签收</th>
    </tr>
    <tr>
        <td>${ewb.ewbNo}</td>
        <td>${ewb.rewbNo!""}</td>
        <!-- 可以使用?date,?time,?datetime,?string(parten)-->
        <td>${ewb.ewbDate?string("yyyy/MM/dd HH:mm:ss")}</td>
        <td>${ewb.weight}</td>
        <td>${ewb.calcWeight}</td>
        <td>${ewb.vol}</td>
        <td>${ewb.length}</td>
        <td>${ewb.width}</td>
        <td>${ewb.high}</td>
        <td>${ewb.piece}</td>
        <td>${ewb.freightCharge}</td>
        <td>${ewb.blSign}</td>
    </tr>
</table>
</body>
</html>